.l-content__waraper{
    padding-left: 36px;
    padding-right: 36px;

    @media screen and (min-width : 600px){
        padding-left: 80px;
        padding-right: 80px;
    }
    @media screen and (min-width : 1025px){
        padding-left: 140px;
        padding-right: 140px;
    }
}

.l-content__img--skills{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 15px;
    row-gap: 50px;
    margin-bottom: 70px;

    @media screen and (min-width : 600px){
        column-gap: 18px;
        row-gap: 80px;
    }
    @media screen and (min-width : 1025px){
        column-gap: 35px;
    }
}

@media screen and (min-width : 600px){
    .l-content--about{
        display: flex;
    }
}