.l-contactform{
    margin-top: 60px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    &__item{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        align-items: center;
    }
}