.l-header{
    position: relative;
    background-image: url(../img/top.jpeg);
    min-height: 100vh;//画面サイズに合わせる
    background-position: center top;
    background-size: cover;

    &__nav{
        display: none;
        position:fixed;
        z-index: 99;
        left:0;
        width:100%;
        height: 100vh;/*ナビの高さ*/
        background:#101841 ;
        transition: all 0.6s;
    }

    &__nav--open{
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        overflow: hidden;
        z-index: 99;
        background-color:#101841;
    }
}

.l-header__nav__list{
    position: absolute;
    z-index: 99;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.l-header--single::before{//三角
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 103px;
    background-color: #101841;
    transform: rotate(-15deg);
    transform-origin: left bottom;
}