@mixin button {
    display: block;
    background-color: #144DA0;
    border-radius:30px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #144b9e;
}

@mixin  icon {
    background-color: #fff;
    border-radius:50%;
    width: 90px;
    height: 90px;
    text-align: center;
    justify-content: center;
}

@mixin title {
    text-align: center;
    color: #144DA0;
    font-size: 30px;
    font-weight: bold;
    font-family: Sitka Heading;

    @media screen and (min-width : 600px){
        font-size: 50px;
    }
    @media screen and (min-width : 1025px){
        font-size: 70px;
    }
}

@mixin subtitle {
    text-align: center;
    color: #144DA0;
    font-weight: bold;
    font-family:BIZ UDP明朝;
    margin-bottom: 20px;

    @media screen and (min-width : 600px){
        font-size: 30px;
        margin-bottom: 40px;
    }
    @media screen and (min-width : 1025px){
        font-size: 40px;
        margin-bottom: 80px;
    }
}

@mixin  works-img {
    height: 223px;
    object-fit: cover;
    object-position: top;
    cursor: pointer;

    @media screen and (min-width : 600px){
        //height: 246px;
        height: 400px;
    }
    @media screen and (min-width : 1025px){
        max-width: 800px;
    }
}

@mixin works-mask {
    width: 100%;
    height: 100%;
    position: absolute;	
    top: 0;
    left: 0;
    opacity: 0;	/* マスクを表示しない */
    background-color:rgba(0,0,0,0.4);
    transition:	all 0.2s ease;

    @media screen and (min-width : 600px){
        height: 400px;
    }
    @media screen and (min-width : 1025px){
        max-width: 800px;
    }
}

@mixin works-title {
    color: #fff;
    text-align: center;
    font-family: Sitka Heading,BIZ UDP明朝;
    font-size: 30px;
    position: absolute;
    top: 15vh;

    @media screen and (min-width : 600px){
        font-size: 40px;
    }
    @media screen and (min-width : 1025px){
        font-size: 60px;
    }
}

@mixin skills {
    width: 75px;
    height: 97.5px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width : 600px){
        width: 110px;
        height: 143px;
    }
    @media screen and (min-width : 1025px){
    width: 150px;
    height: 200px;
    }
}

@mixin  skills-title {
    color: #101841;
    text-align: center;
    font-family: Sitka Heading,BIZ UDP明朝;
    font-size: 20px;
    font-weight: bold;

    @media screen and (min-width : 600px){
        font-size: 30px;
    }
}

@mixin  text {
    font-family: BIZ UDP明朝;
    font-size: 16px;
    color: #101841;
    line-height: 1.875;

    @media screen and (min-width : 1025px){
        font-size: 20px;
        line-height: 2;
    }
}

@mixin pricetable-title {
    font-size: 20px;
    color: #101841;
    font-family: BIZ UDP明朝;
    margin-bottom: 20px;
    font-weight: bold;

    @media screen and (min-width : 600px){
        font-size: 30px;
        margin-bottom: 30px;
    }
    @media screen and (min-width : 1025px){
        font-size: 40px;
        margin-bottom: 50px;
    }
}

@mixin  pricetable-text {
    font-size: 16px;
    color: #101841;
    font-family: BIZ UDP明朝,Sitka Heading;
    margin-bottom: 20px;
    border-bottom: 1px solid #101841;

    @media screen and (min-width : 600px){
        font-size: 20px;
        margin-bottom: 23px;
    }
    @media screen and (min-width : 1025px){
        font-size: 30px;
        margin-bottom: 50px;
    }
}

@mixin title2 {//page.single
    text-align: center;
    font-family: Sitka Heading;
    font-size: 40px;
    font-weight: bold;
    color: #101841;
    border-bottom: 1px  solid #101841;
    margin-top: 50px;

    @media screen and (min-width : 600px){
        font-size: 50px;
    }
    @media screen and (min-width : 1025px){
        font-size: 80px;
    }
}

@mixin subtitle2 {//page.single
    text-align: center;
    font-family: BIZ UDP明朝;
    font-size: 20px;
    font-weight: bold;
    color: #101841;
    margin-top: 15px;

    @media screen and (min-width : 600px){
        font-size: 30px;
        margin-top: 20px;
    }
    @media screen and (min-width : 1025px){
        font-size: 40px;
        margin-top: 30px;
    }
}

@mixin footer {
    color: #EDEDED;
    font-family: Sitka Heading;
    font-size: 16px;
}

@mixin header-nav-a {
    color: #EDEDED;
    font-family: Sitka Heading,BIZ UDP明朝;
    font-size: 20px;

    @media screen and (min-width : 600px){
        font-size: 30px;
    }
}

@mixin  header-nav {
    height: 60px;
    text-align: center;
    padding-top: 22px;
    @media screen and (min-width : 600px){
        height: 100px;
        padding-top: 35px;
    }
}